# Copyright 2021 Adam Chalkley
#
# https://github.com/atc0005/check-vmware
#
# Licensed under the MIT License. See LICENSE file in the project root for
# full license information.


# Ignore Visual Studio Code workspace-level settings
/.vscode

# Ignore local "scratch" directory of temporary files
scratch/

# Ignore local builds
/release_assets

# Ignore one-off CLI app builds
/check_vmware_tools
/check_vmware_vcpus
/check_vmware_vhw
/check_vmware_hs2ds2vms
/check_vmware_datastore
/check_vmware_snapshots_age
/check_vmware_snapshots_count
/check_vmware_snapshots_size
/check_vmware_rps_memory
