# Copyright 2021 Adam Chalkley
#
# https://github.com/atc0005/check-vmware
#
# Licensed under the MIT License. See LICENSE file in the project root for
# full license information.


# 'notify-host-by-teams' command definition
define command{
    command_name    notify-host-by-teams
    command_line    /usr/local/bin/send2teams -convert-eol -retries 4 -retries-delay 5 -team "IT Dept" -channel "Alerts" -title "$NOTIFICATIONTYPE$ Host Alert: $HOSTNAME$ is $HOSTSTATE$" -color "#5c5303" -message "<br>Notification Type: $NOTIFICATIONTYPE$<br>Host: $HOSTNAME$<br>State: $HOSTSTATE$<br>Address: $HOSTADDRESS$<br>Info: $HOSTOUTPUT$<br><br>Date/Time: $LONGDATETIME$<br>" -url "$USER101$"
    }

# 'notify-service-by-teams' command definition
define command{
    command_name    notify-service-by-teams
    command_line    /usr/local/bin/send2teams -convert-eol -retries 4 -retries-delay 5 -team "IT Dept" -channel "Alerts" -title "$NOTIFICATIONTYPE$ Service Alert: \"$SERVICEDESC$\" for $HOSTNAME$ is $SERVICESTATE$" -color "#5c5303" -message "<br>Notification Type: $NOTIFICATIONTYPE$<br><br>Service: $SERVICEDESC$<br>Host: $HOSTALIAS$<br>Address: $HOSTADDRESS$<br>State: $SERVICESTATE$<br><br>Date/Time: $LONGDATETIME$<br><br>Additional Info:<br><br>\`$SERVICEOUTPUT$\`<br><br>$LONGSERVICEOUTPUT$" -url "$USER101$"
    }


# ./send2teams.exe -retries 4 -retries-delay 5 -channel "Testing" -message "Testing from command-line!" -title "Another test" -color "#832561" -url "https://outlook.office.com/webhook/www@xxx/IncomingWebhook/yyy/zzz"
